In [1]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_excel('../data/raw_data/2019 Power sector Energy Generated.xlsx', sheet_name = 'Energy Consumed (MWH) 2019', header = 1, index_col = 0)

In [14]:
data = data.drop([np.nan, 'JAN-JUNE TOTAL', 'JUL-DEC TOTAL'])

In [15]:
data

,ABUJA,IBADAN,EKO,IKEJA,BENIN,JOS,KADUNA,YOLA,PORTHARCOURT,ENUGU,KANO,TOTAL
REGION,,,,,,,,,,,,
JANUARY,320061.47,300517.35,296600.74,312172.06,223259.42,111088.85,195788.57,94458.7,264543.06,155439.79,149800.32,2423730.33
FEBRUARY,299146.05,282012.62,289100.56,309221.44,216306.22,96925.70,181804.62,93449.5,253260.18,141727.94,158790.61,2321745.44
MARCH,357128.35,285941.91,327956.86,360745.64,228707.71,104736.55,192970.61,118062.3,267083.55,149431.14,158790.61,2551555.23
APRIL,341874.02,283503.08,274755.11,322408.60,229247.05,91786.20,158627.95,103794.3,266421.16,144944.91,175720.04,2393082.42
MAY,300917.63,293824.75,291532.68,337215.92,188596.97,97371.45,172991.07,86969.4,269149.32,134263.97,162974.20,2335807.36
JUNE,318251.01,268959.20,263948.15,328926.25,165231.22,105167.00,164246.76,87232.6,261300.63,125767.58,158678.33,2247708.73
JULY,298248.45,296929.18,289065.84,338912.36,188120.80,101331.60,163813.08,81802.3,245091.18,130954.58,146512.43,2280781.80
AUGUST,322835.63,305772.70,310502.47,350778.87,182425.49,93479.00,146742.54,90162.0,231147.85,140498.50,130347.94,2304692.99
SEPTEMBER,267685.55,268909.60,275655.05,337057.65,182952.06,100067.95,124131.60,83674.0,240644.14,127219.86,128121.04,2136118.50
OCTOBER,278072.54,287914.26,269595.35,334432.30,177257.33,106916.75,134280.10,93764.0,261006.52,130172.09,146421.10,2219832.34
NOVEMBER,305207.00,312465.05,306970.12,364651.69,189377.27,104976.90,143565.56,100388.2,268760.93,131471.31,141872.63,2369706.66
DECEMBER,290075.52,336656.92,315507.01,391448.40,199816.32,110850.05,132085.54,88777.2,293998.87,138865.77,143659.62,2441741.22
ANNUAL TOTAL,3699503.22,3523406.62,3511189.94,4087971.18,2371297.86,1224698.00,1911048.00,1122534.5,3122407.39,1650757.44,1801688.87,28026503.02

In [16]:
data.to_excel('Energy_consumption.xlsx', sheet_name = 'Consumption in 2019')